*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: pink;
}


div{
  text-align: center;
  margin-top: 10rem;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  



}


 h1{
  background-color: rgb(255, 0, 157);
  padding-top: 15px;
  padding: 20px;
  border-radius: 10px;
}